{% extends "network/layout.html" %}

{% load static %}
{% block body %}
    {% if user.is_authenticated %}
    <h3 id="h3-bienvenido">Bienvenido, {{user.username}}</h3>
    <div id="div_user" hidden>{{user.id}}</div>
        <div id="nuevo-post">
            <form id="form-nuevo-post" action="{% url 'postear' %}" method="post" enctype="multipart/form-data">       
                <div class="grupo-form">
                    <label for="id_Imagen">Imagen:</label>
                    <input type="file" name="Imagen" accept="image/*" id="newpost_Imagen">        
                </div>   
                <div class="grupo-form">
                    <label for="id_Texto">Texto:</label>
                    <textarea name="Texto" cols="40" rows="5" maxlength="1024" required id="newpost_Texto"></textarea>
                </div>
                <div class="grupo-form"> 
                    <input type="hidden" name="User" value={{user.id}} id="newpost_User">        
                </div>  
                <div class="grupo-form"> 
                    <input type="hidden" name="Likes" value=0 id="id_Likes">        
                </div>                
                    <input type="submit" value="Enviar">
            </form>        
        </div>
    {% endif %}

    <div id="perfil">
        <h1 id="nombre-perfil">Aqui vamos a ver el perfil</h1>
        <div id="div-seguir">
            <h6 id="yatesigue">Te está siguiendo</h6>
            <button type="button" class="btn btn-primary" id="follow-button">Seguir</button> 
            <button type="button" class="btn btn-primary" id="unfollow-button">Dejar de seguir</button>       
        </div>    
    </div>

    <div id="timeline" class="timeline-class">        
    </div>

    <nav aria-label="Navegacion-Paginas">
        <ul class="pagination">
          <li class="page-item" id="page-item-anterior"><a class="page-link" href="#">Anterior</a></li>
          <li class="page-item" id="page-item-1"><a class="page-link" href="#">1</a></li>
          <li class="page-item" id="page-item-2"><a class="page-link" href="#">2</a></li>
          <li class="page-item" id="page-item-3"><a class="page-link" href="#">3</a></li>
          <li class="page-item" id="page-item-siguiente"><a class="page-link" href="#">Siguiente</a></li>
        </ul>
    </nav>
    <div class="post1" style="display: none;">No se ve</div>

      
{% endblock %}


{% block script %}    
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}