div.post{
    border-style: solid;
    border-width: 1px;
    border-color: black;    
    border-radius: 5px;
    background-color: white;
    margin: 10px;     
    padding: 10px;   
}
div.post1{
    border-style: solid;
    border-width: 1px;
    border-color: black;    
    border-radius: 5px;
    padding: 10px;
    margin: 10px; 
    background-color: #007bff;       
}
button{
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    background-color: #007bff;
    margin: 2px;    
    color: white;
}
#timeline{    
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px ;
    flex-direction: column;
}

div.subdiv{
    padding: 2px;
    border-style: solid;
    border-width: 0px;
    border-color: white;
    border-radius: 5px;
}

@keyframes grow {
    0% {font-size: 2em;}
    50% {font-size: 2em;}
    100% {font-size: 2em;}
}